/* Add this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.first-part {
    background-color: #192434;
    color: white;
    padding: 10px 150px;
}

.header {
    /* border: orange 2px solid; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    font-weight: 1000;
}

.links ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.about {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.about-image {
    max-width: 500px;
    max-height: 200px;
    background-color: #6D757E;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.about .title {
    font-size: 50px;
    font-weight: 1000;
}

.about button {
    margin-top: 15px;
    background-color: #3883F6;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
}

/* Second part */
.second-part {
    padding: 25px 150px;
    color: #192434;
    text-align: center;
}

.second-part .title {
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: 25px;
}

.info-images {
    display: flex;
    justify-content: space-evenly;
    /* gap: 0px; */
}

.img {
    width: 150px;
    height: 150px; 
    margin-bottom: 10px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* border: #3883F6 2px solid; */
    border-radius: 10px;
}

.container {
    width: 150px;
}

/* third part */
.third-part {
    padding: 100px 225px;
    background-color: #E6E8EC;
    color: #192434;
    font-size: 20px;
    font-style: italic;
    /* text-align: center; */
}

.third-part .author {
    font-style: normal;
    font-weight: bold;
    text-align: end;
}

/* fourth part */
.fourth-part {
    padding: 70px 225px;
    background-color: white;
    color: #192434;
}

.footer {
    padding: 20px;
    color: white;
    background-color: #3883F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.footer button {
    background-color: #3883F6;
    border: 2px white solid;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    align-self: center;
}

.footer .title {
    font-size: larger;
    font-weight: bold;
}